.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-icon {
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: #e6e6fa;
}

/* CSS untuk tampilan pada layar kecil */
@media only screen and (max-width: 768px) {
  /* Atur lebar gambar agar dapat menyesuaikan ukuran layar */
  img {
    max-width: 100%;
    height: auto;
  }
  /* Atur lebar dan padding pada bagian konten */
  .content {
    width: 90%;
    padding: 20px;
  }
}

.judul{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: black;
    text-align: center;
    text-decoration: overline;
    /* background: linear-gradient(to right, #0278ff, #0077b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.content{
    padding-top: 1mm;
    padding-bottom: 3cm;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;

}


footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.footer-col {
  flex: 1;
  margin: 0 20px;
}

.footer-col h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
padding: 1mm;
font-family: 'Source Sans Pro', sans-serif;

}

ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

ul li a:hover {
  color: #e71616;
}
